<div class="h-[90vh] ml-40 bg-slate-400">
    <div class="pt-5">
        <div class="border w-4/5 mx-4 px-3 pb-4">
            <h2 class="text-base font-bold">How do i convert module component to standalone?</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam, laudantium eos vel commodi a dolorem dolorum quod.</p>
            <div class="flex justify-evenly">
                <p class="pl-2">Like</p>
                <p class="pl-2">Upvote</p>
                <p class="pl-2">Downvote</p>
                <p (click)="goToCommentPage()" class="pl-2 cursor-pointer border rounded-md bg-lime-950" >Comment</p>
            </div>
        </div>
       

    </div>
</div>