<div class="bg-gray-400/40 h-screen ml-40">
    <div>
        <button (click)="ViewProfile()">View profile</button>
    </div>
    <div class="m-5 flex flex-wrap">
        <!-- questions -->
        <div id="quest-div" class="w-full sm:w-1/2">
            <h3 class="text-lg font-bold mb-3">My questions</h3>
            <div class="flex items-center mb-3">
                <p class="mr-2">The difference between prompt to build and always build</p>
                <button class="bg-blue-500 hover:bg-blue-600 text-white px-2 py-1 rounded">Update</button>
            </div>
        </div>

        <!-- answers -->
        <div class="answer-div w-full sm:w-1/2">
            <h3 class="text-lg font-bold mb-3">My answers</h3>
            <div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </div>
    </div>
</div>
