<div class=" flex flex-wrap items-center justify-center bg-gray-400 h-screen ml-40">
    <div class=" w-11/12">
        <div class="">
            <div>
                <form >
                    <h3>Add questions </h3>
                    <div class="">
                        <label >Question</label>
                        <input class="w-1/5 border" type="text" placeholder="Question heading">
                    </div>
                    <div class="mt-10 grid w-2/5">
                        <label >Body</label>
                        <textarea class="border" name="Body" id="" cols="30" rows="10"></textarea>
                    </div>
                    <button>Send Question </button>
                </form>
            </div>
        </div>
    </div>
</div>    
